@gutter: #f0f0f0;
@accent-red: #a31515;
@accent-blue: #0076a8;

:host {
  font-family: 'monospace', monospace;
}

.vim-content {
  display: flex;
  height: 100%;
  
  .line-nums, pre {
    font-size: 14px;
    line-height: 1.6;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .line-nums {
    background: @gutter;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    min-width: 35px;
    user-select: none;
    white-space: pre; 
  }

  pre {
    margin: 0;
    padding-left: 15px;
    flex-grow: 1;
    overflow-x: auto;
    
    .key { color: @accent-red; font-weight: bold; }
    .val { color: @accent-blue; }
  }
}