@import '@styles/platforms.less';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.flex {
  flex: 1;
}

.image {
  max-height: 275px;
  background-color: var(--white-color);
}

.info-section {
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--code-bg);
  color: var(--text-2);
  line-height: 1.4;

  p {
    margin: 2px 0;
    &::before {
      content: "> ";
      opacity: 0.5;
    }
  }
}
@media (max-width: @mobile) {
  .image {
    max-height: 225px;
  }
}
