@import "@styles/platforms.less";

:host {
  margin: 0 auto;
}

.layout-container {
  max-width: @main_content;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  transition: background-color 0.3s ease;
}

@media (max-width: calc(@main_content + 1rem * 4)) {
  .layout-container {
    padding: 1rem;
  }
}